.ticket-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.show-more-btn {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    height: 50px;
    background-color: rgba(33, 150, 243, 1);
    border: none;
    border-radius: 5px;
}